<!doctype html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" href="style.css"/>
</head>
<body>
<form class="mt-3" th:action="@{/user/one}" method="get">
<div class="row">
    <p class="text" th:text="${userId}"></p>
    <table class="table">
        <thead>
        <tr>
            <th class="col-3">Имя</th>
        </tr>
        <tbody>
        <tr th:each="user: ${users}">
            <td><span th:text="${user.id}"></span></td>

<!--            <td><a th:text="${user.name}" th:href="@{/user/?userId={userId}(userId=${user.id})}"> </a></td>-->
            <td><a th:text="${user.name}"> </a></td>
        </tr>
        </tbody>
    </table>
    <button class="btn btn-success w-100" type="submit">Добавить имя</button>
</div>
</form>

<form class="mt-3" th:action="@{/user/delete}" method="get">
    <div>
            <label for="text">
            </label><input type="text" class="form-control" id="text" name="text" placeholder="ID Пользователя" required>
        <button class="btn btn-success w-100" type="submit">Удалить имя</button>
    </div>
</form>

<form class="mt-3" th:action="@{/user/createExample}" method="post">
    <div>
        <button class="btn btn-success w-100" type="submit">Создать пример</button>
    </div>
</form>
</body>
</html>